.visitContainer{
  // height: 250px;
  background-image: url('../../static/pasto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 5% 0;
  border-radius: 30px;
  height: 100%;
  

  & .visitInfo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6%;
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    font-family: 'Questrial', sans-serif;
  }

  @media screen and (min-width: 1024px) {
    max-height: 100%;
    margin: 0;
    // width: 70%;

    & .visitInfo{
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    width: 80%;
    margin: 0 auto;
    min-height: 80%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;


    & .visitInfo{
      font-size: 0.6rem;
      justify-content: flex-end;
      color: white;

    }

  }

}