@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(220, 228, 245);

}

.App {
  display: grid;
  grid-template: 35vh 0.1fr 0.4fr 0.1fr 0.7fr 1fr 1.3fr / 1fr;
  text-align: center;
  height: auto;

  & .forecastTitle{
    // font-weight: 600;
    margin:  5%  auto;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    color: rgb(97, 97, 97);
  }
}


